.form-field {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 5px;

  &__input {
    width: inherit;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: $inputFon;
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: $gray;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
  }

  &__icon {
    position: absolute;
    padding-top: 4px;
  }

  &__input:focus + &__label,
  &__input:not(:placeholder-shown) + &__label {
    top: 23%;
    font-size: 12px;
  }
}

.input-icon {
  padding-left: 30px;
  position: relative;
}

.label-icon {
  padding-left: 20px;
}

.form-error {
  display: none;
  font-size: 12px;
  color: $red;
}

.visible {
  display: block;
}
