<div class="chat" data-id="{{ id }}">
    <div class="chat__image">
        <img src="{{ src }}" alt="Аватар">
    </div>
    <div class="chat__info">
        <div class="chat__info-name">{{ first_name }}</div>
        <div class="chat__info-login">{{ login }}</div>
    </div>
    <div class="chat__arrow">
        <img src="/img/arrow.svg" alt="Перейти">
    </div>
</div>