<div class="profile">
  <div class="profile__info">
    <div class="profile__info-image">
      {{{avatar}}}
    </div>
    <div class="profile__info-details">
      <div class="profile__info-details__name">{{first_name}}</div>
      <div class="profile__info-details__login">{{login}}</div>
    </div>
  </div>
  <div class="profile__action">
    {{{arrowIcon}}}
  </div>
</div>