.profile {
    display: flex;
    height: 71px;
    align-items: center;
    padding: 12px 16px;
    justify-content: space-between;
    border-bottom: 1px solid $devider;
    transition: background-color 0.3s;

    &:hover {
        cursor: pointer;
        background-color: $blueChatMessage;
    }

    &-active {
        background-color: $blueChatMessage;
    }

    &__info {
        display: flex;
        gap: 10px;

        &-details {
            display: flex;
            flex-direction: column;
    
            &__name {
                font-size: 16px;
            }
    
            &__login {
                font-size: 14px;
                color: $messageGray;
                margin-top: 4px;
            }
        }
    }    
}
