.chats {
  display: flex;
  width: 100%;
  height: 100vh;

  &__popup {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 0;
    background-color: #b4b4b48c;
    color: #000000;
    text-align: center;
    justify-items: center;
    align-content: center;
  }

  &__sidebar {
    width: 30%;
    background-color: $sideBar;
    border-right: 1px solid $devider;
    box-sizing: border-box;

    &__header {
      display: flex;
      align-items: center;
      height: 40px;
      background-color: #fff;
      border-bottom: 1px solid $devider;
      justify-content: space-between;
      padding: 10px;

      &-profile {
        cursor: pointer;
      }

      &-text {
        font-size: 12px;
      }
    }

    &__list {
      list-style: none;
      padding: 0;
    }

    &__add {
      padding-left: 10px;
      padding-top: 10px;
      font-size: 16px;
      color: $blue;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__container {
    width: 100%;
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 16px;
      background: #fff;
      border-bottom: 1px solid $devider;

      &__info {
        display: flex;
        align-items: center;
        gap: 10px;

        &-avatar {
          img {
            width: 50px;
          }
        }

        &-name {
          font-size: 16px;
          font-weight: 500;
        }
      }

      &__action {
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }

    &-messages {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100vh;
    }

    &-footer {
      margin: 20px 0;
    }
  }
}
