$gray: #999;
$orange: #ff7e2d;
$black: #000;
$blue: #3369f3;
$red: #f00;
$devider: #eaeaea;
$button: #3369f3;
$white: #fff;
$inputFon: #f5f5f5;
$grayChatMessage: #f8f8f8;
$blueChatMessage: #e4edfd;
$circleChat: $blue;
$firstName: #1e1e1e;
$sideBar: #fbfbfb;
$messageGray: #999999;
