$gray: #999;
$orange: #FF7E2D;
$black: #000;
$blue: #3369F3;
$red: #F00;
$devider: #EAEAEA;
$button: #3369F3;
$white: #FFF;
$inputFon: #f5f5f5;
$grayChatMessage: #F8F8F8;
$blueChatMessage: #E4EDFD;
$circleChat: $blue;
$firstName: #1E1E1E;
$sideBar: #FBFBFB;