<div class="chats">
    <aside class="chats__sidebar">
        <div class="chats__sidebar__header" id="chats__sidebar__header">
            <div class="chats__sidebar__header-icon">
                <img src="/img/back.svg" alt="Назад">
            </div>
            <div class="chats__sidebar__header-text">
                <span>Назад</span>
            </div>
        </div>
        <div class="chats__sidebar__list" id="chats__sidebar__list">
            {{#each chats}}
                {{> ProfileSelected this}}
            {{/each}}
        </div>
    </aside>

    <main class="chats__info">
        {{#if profile}}
            {{> ProfileInfo profile}}
            {{else}}
                <span>Не выбран</span>
        {{/if}}
    </main>
</div>
