<div class="message {{#if isMy}}message-my{{/if}}">
    <div class="message__text">
        <span>{{{content}}}</span>
    </div>
    <div class="message__time">
        <span>{{{time}}}</span>
    </div>
</div>